
//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:#0B9B8D;

$link-color: #0B9B8D;

$link-focus-color:#0B9B8D;

