/**
  * -------------------------------------------------------------------------------
  * ( 03 ) - Header
  * -------------------------------------------------------------------------------
  *
  *  This part contains logo, main menu and call to action button.
  *
  * ------
  *
  *  Header is divided to the following sections:
  *
  *    |
  *    |-->  [ 01 ] - Logo
  *    |-->  [ 02 ] - Header Bars
  *
  */


  #header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    font-size: 13px;
  }
  
  
  /*  [ 01 ] - Logo
  =================== */
  
  .logo {
    display: inline-block;
  
    img {
      width: 260px;
      max-height: 100%;
    }

    svg{
       width: 260px;
       max-height: 100%;
    }
  
    h3,
    h3 + span {
      display: none;
    }
  
    &.text-white {
      h3,
      span {
        color: #fff;
      }
  
      span {
        // opacity: 0.7;
      }
    }
  
    &.logo-text {
      // text-align: left;
  
      img {
        display: none;
      }
  
      h3,
      h3 + span {
        display: block;
      }
  
      h3 {
        position: relative;
        margin-bottom: -1px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
      }
  
      h3 + span {
        font-size: 11px;
        // opacity: 0.7;
        color: $body-color;
      }
    }
  }
  
  .logo-header {
    position: relative;
    display: flex;
    flex-direction: column; // to set each flex childs as one column
    justify-content: center; // to center content vertically
    // align-items: center; // to center content horizontally
    // height: 100%;
    // float: left;
    transition: color 0.15s, top 0.3s;
  
    &.logo-text {
      text-align: left;
  
      h3 {
  
      }
    }

    img{
        vertical-align: top;
    }
  }
  
  
  
  /*  [ 02 ] - Header Bars
  ========================== */
  
  /* Header Bar */
  .header-bar,
  .header-bar-wrap {
    background: transparent;
    transition: height 0.3s, background 0.3s;
  }
  
  .header-bar-wrap {
    left: 0;
    top: 0;
    width: 100%;
    // border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  
  .header-bar {
    .container,
    .row,
    [class*="col-"] {
      height: 100%;
    }
  
    .row {
      // display: flex;
    }
  
    .col-md-12 {
      // display: flex;
      width: 100%;
    }
  
      //Bar top header
  
      .bar-top-header{
        padding: 7px 0px;
        border-bottom: 1px solid transparent;
        background: transparent;
        color: #ebebeb;
        font-family: $body-font;
        font-size: $font-size-12;
        font-weight: 500; 
        height: auto;
        max-height: 40px;
        
        .info-top{
          float: left;
        a{  
            color: #ebebeb;
            text-decoration: none;
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            &:hover{
              color: $link-hover-menu;
            }
  
            &:focus{
              color: $link-focus-color;
            }
          }
  
          .info-list{
            list-style: none;
            padding: 0px;
            margin: 0px;
            li{
              float: left;
              padding: 0 10px;
              &:first-child{
                padding-left: 0;
              }
              i{
                display: inline-block;
                vertical-align: middle;
                font-size: $font-size-13;
                color: $white;
                margin-right: 7px;
                line-height: 1;
  
              }
            }
          }
  
          
  
        }
  
        .social-top{
          float: right;
          .social-list{
            list-style: none;
            padding: 0px;
            margin: 0px;
            margin-left: 25px;
            li{
              display: inline-block;
              margin: 0px 8px;
              &:last-child{
                margin-right: 0;
              }
              a{
                color: #ebebeb;
                display: inline-block;
                padding: 0px 3px;
                transition: all 0.3s linear;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                &:hover{
                  color: $link-hover-menu;
                }
              }
            }
          }
        }
        
      }


      .social-top-2{
        display: inline-block;
        border-top: 1px solid $white ;
        
        .social-list{
          margin-top: 66px;
          align-items: center;
          list-style: none;
          padding: 0px;
          margin: 20px 0;
          display: inline-block;
          flex-flow: row wrap;
          justify-content: space-between;
          li{
            display: inline-block;
            margin: 13px 9px;
            &:last-child{
            margin-right: 0;
            text-align: center;
            }
            a{
              color: #ebebeb;
              transition: all 0.3s linear;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
              &:hover{
                  color: $link-color;
              }
             
             i{
                 color: $white;
             }
            }
          }
        }
      }

      
  
     
  
      //Menu Navigation
    .hb-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      
      .btn-mobile{
        color:$white;
        float: right;
        margin-right: 40px;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;  
        i{
          display: inline-block;
          vertical-align: middle;
          font-size: 26px;
          color: $white;
          margin-right: 7px;
          line-height: 1;
        }
        
        }
  
        .hb-meta {
          width: auto;
          display:flex;
          
           .menu-navigation{
             width: 100%;
             list-style: none;
             
             li{
              display: inline-block;
              margin: 0 20px;
              text-transform: uppercase;
              &:last-child{
                margin-right: 0;
              }
              a{
                color: $white;
                font-weight: 700;
                font-family: $heading-font;
                transition: all 0.3s linear;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                &:hover{
                  color: $theme-color;
                }
              }
             }

            
           }
           
        }
      }
      
    }

     //Breakpoint Info Top
  
     @media ( max-width: 992px){
        .bar-top-header{
          display: none;
        }

        #header{
            .hb-content{
                display: none;
            }
        
        }

      


      }
    
  
    //Menu Mobile

    #header{
        .menu-mobile{
            background: $white;
            position: fixed;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            vertical-align: center;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            border-bottom: 1px solid rgba(0, 0, 0, 0.138);
            -o-box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
            box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
            z-index: 13;
            .logo-header{
                width: 100%;
                padding: 30px 0;
                img{
                width: 230px;
                vertical-align: top;
                margin-right: 30px;
                }
            }
           
            .navigation-mobile{
                width: 100%;
                float: right;
                position: relative;
                a{
                    color:$theme-color;
                    float: right;
                    font-family: $heading-font;
                    font-weight: 600;
                    margin: 0 13px;
                }

                .nav-mobile{
                    width: 100%;
                    height: 100vh;
                    position: absolute;
                    top: 125px;
                    right:-100%;
                    display:flex;
                    flex-direction: column;
                    background: $link-opacity;
                    
                   > li{
                        list-style: none;
                        text-align: center;
                        border-bottom: 1px solid black;
                        transition: all 0.3s linear;
                        -webkit-transition: all 0.3s linear;
                        -moz-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        -ms-transition: all 0.3s linear; 

                        &:hover{
                            background:#141d38a3;
                            color: $white;
                        }
                        a{
                            padding: 20px 20px;
                            color: $white;
                            margin-left: 20px;
                        }

                       
                    }
                }
            }

       .btn-mobile{
            
           
            i{
                margin: 45px 30px;
                font-size: 30px;
                color: $dark-color;
                transition: all 0.3s linear;
                        -webkit-transition: all 0.3s linear;
                        -moz-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        -ms-transition: all 0.3s linear; 
                        &:hover{
                            color:$link-color;
                        }
            }
            
            
        }
            
        }
    }
    
    @media (min-width: 992px){
         #header{
            .menu-mobile{
                display: none;
            }
         }
    }
  
 /*  .menu-mobile{
    display: block;
    float: left;
    margin-left: 30px;
    font-size: 23px;
    font-weight: 500;
    
    .navigation-mobile{
      width: 100%;
      height: auto;
      background: $white;
      text-align: center;
      vertical-align: middle;
      
      a{
        color: $link-color;
        font-family: $heading-font;
        font-size:$font-size-14;
        font-weight: 500;
        padding:20px 0;
  
      }
    }
  } */
  
  /* .navigation-mobile{
    display: none;
  } */
  
  /* @media ( min-width: 992px ){
    .btn-mobile{
      display: none;
    }
    
  }
  
  @media ( max-width: 992px ){
      .menu-navigation{
        display: none;
      }
      
  } */
  
  /* Header Bar Sticky */
  .header-bar {
    &.is-sticky {
      .header-bar-wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0 0 15px rgba(0,0,0,0.10);
        border-bottom-color: transparent;      
      }
    }
  
  
    .logo-header {
      &.logo-text {
        text-align: left;
  
        h3 {
  
        }
  
        h3 + span {
          opacity: 1;
          color: $body-color;
        }
      }
    }
  
    .menu-main > li > a {
      color: $white;
    }
  
    .menu-main > li > a.current,
    .menu-main > li:hover > a,
    .menu-main > li > a:hover,
    .menu-main > li > a:focus {
      color: $theme-color;
      list-style: none;
    }
  
    .header-meta {
      // border-left-color: rgba(0,0,0,0.1);
      // ??¿¿
    }
  
  
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: #000;
    }
  
  
  
  }
  
  @media ( min-width: 1200px) {
    .header-bar.style-1.sticky {
      &, .header-bar {
        // height: 80px;
      }
    }
    
  }
  
  
  
  
  /* Header Bar 1 */
  #header-bar-1 {
    &,
    .header-bar-wrap {
      height: 130px;
    }
  
    .header-bar-wrap {
      //background-color: #fff;
    }
  
    .hb-content {
  
    }
  
  
    .logo {
      // margin-right: auto;
    }
  
    &.text-white {
      .header-bar {
  
      }
  
      .header-bar-wrap {
        background-color: $dark-color;
      }
  
      .logo.logo-text h3 + span {
        color: #fff;
      }
    }
  }
  
  
  @media (max-width: 768px) {
    #header-bar-1 {
      .hb-content {
        // justify-content: center;
      }
    }
  } // < 768px width
    
  
  